extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Shopping Cart
    .row
      .col-xs-6
        table#products.table.table-bordered
          thead
            th Product
            th Image
            th Price
            th Quantity
            th Subtotal
          tbody
            each id in ids
              tr
                td= products[id].p.name
                td(style='background-image:url("#{products[id].p.photo}")')
                td $#{products[id].p.price.toFixed(2)}
                td= products[id].c
                td= '$' + (products[id].p.price * products[id].c).toFixed(2)
            tr
              td
              td
              td
              td Subtotal
              td= '$' + subtotal.toFixed(2)
            tr
              td
              td
              td
              td Tax
              td= '$' + tax.toFixed(2)
          tfoot
            tr
              td
              td
              td
              td Total
              td= '$' + total.toFixed(2)
        form(method='post', action='/cart')
          input(type='hidden', name='_method', value='delete')
          button.btn.btn-danger(type='submit') Clear Cart
        br
        form(action='/charge', method='post')
          script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key=key, data-image='/img/stripe.png', data-name='Amzn', data-amount=Math.round(total * 100))

block scripts
